
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.countryCard{
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countryCard > img{
    width: 200px;
    object-fit: cover;
}

